@import url('whatsapp-button.css');

:root {
  --main-dark: #161817;
  --main-gold: #D4A067;
  --main-gold-darker: #c48138;
  /* dorado mas claro DDAC7A */
}

html {
  background-color: #292b2d !important;
}

html {
  color-scheme: dark !important;
}

html, body, input, textarea, select, button, dialog {
  background-color: #292b2d;
}

.titulo {
  font-family: 'Raleway', sans-serif;
}

.titulo-grande {
  font-size: 2.3rem;
}

.fondo-dark {
  background-color: var(--main-dark);
}

.fondo-gold {
  background-color: var(--main-gold);
}

.text-gold {
  color: var(--main-gold);
}

.width-servicios {
  max-width: 175px;
}

.list-group .list-group-item {
  border: none;
}

.h-400 {
  min-height: 400px;
}

#hero {
  padding-top: 101px;
}

#nav-principal {
  position: fixed;
  z-index: 9999;
}

nav ul li a {
  color: #fff !important;
  transition: color 0.3s;
  font-size: 1.1rem !important;
}

nav ul li a.activo {
  color: var(--main-gold) !important;
}

.boton-dorado {
  background: var(--main-gold);
}

.boton-dorado:hover {
  background-color: var(--main-gold-darker);
}

.clickeable {
  cursor: pointer;
  text-decoration: underline;
}

.subrayado-titulo {
  border-bottom: 2px solid var(--main-gold);
  width: max-content;
}

.form-floating .text-white::after{
  display: none;
}

#redes .nav-link i:hover{
  color: var(--main-gold);
}